@import "../../config/functions";
@import "../../config/mixins";

.feedback-form {
	padding-block: rem(60);
	background-color: $colors-white-main;
	background-image: url(@img/backgrounds/main-feedback-form.png);
	background-position: bottom left;
	background-repeat: no-repeat;
	background-size: 35%;
	width: 100%;

	@include media-mx(1199) {
		background-size: 50%;
	}

	@include media-mx(767) {
		padding-block: rem(36);
		background-image: none;
	}

	width: 100%;

	&__container {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: flex-end;
		gap: rem(100);
		height: 100%;
	}

	&__header {
		display: flex;
		gap: rem(30);
		flex-direction: column;
	}

	&__title {
		font-family: $second-family;
		font-weight: 700;
		font-size: 48px;
		line-height: 100%;
		text-align: center;
		color: $colors-black;

		@include media-mx(767) {
			width: 100%;
			text-align: center;
			font-size: 24px;
		}

		&-sub {
			font-family: $font-family;
			font-weight: 400;
			font-size: 24px;
			line-height: 100%;
			text-align: center;
			color: $colors-black;

			@include media-mx(767) {
				text-align: center;
				font-size: 16px;
			}
		}
	}

	&__form {
		width: 50%;
		margin-left: auto;

		@include media-mx(767) {
			width: 100%;
		}

		&-items {
			display: flex;
			gap: rem(40);
			flex-direction: column;
		}
		&-item {
			display: flex;
			gap: rem(20);
			flex-direction: column;

			&-label {
				font-family: $second-family;
				font-weight: 700;
				font-size: 20px;
				line-height: 100%;
				color: $colors-black;
			}
			&-input {
				padding: rem(10);
				font-family: $font-family;
				font-weight: 400;
				font-size: 16px;
				line-height: 100%;
				color: $colors-black;
				border-bottom: 2px solid #10101020;

				background: $colors-white-main;

				transition: all 0.3s ease-in-out;

				border-radius: 0;

				&::placeholder {
					opacity: 0.2;
				}

				option[value=""][hidden] {
					display: none;
				}

				&:required:invalid {
					opacity: 0.2;
					border-bottom: 2px solid #101020;
				}

				&:not(:placeholder-shown) {
					opacity: 1;
					border-bottom: 2px solid $colors-accent;
				}
			}

			&.checkbox {
				display: flex;
				flex-direction: row;
				gap: rem(10);

				.accept-checkbox {
					display: flex;
					align-items: center;
					justify-content: center;
					gap: rem(10);
					height: 100%;
					min-height: 20px;
					position: relative;
					padding-left: 30px;
					cursor: pointer;
					user-select: none;

					input {
						position: absolute;
						opacity: 0;
						cursor: pointer;
						height: 0;
						width: 0;

						&:checked ~ .accept-checkbox__checkmark {
							background-color: $colors-accent;
						}

						&:checked ~ .accept-checkbox__checkmark:after {
							opacity: 1;
						}

						&:hover {
							input {
								& ~ .accept-checkbox__checkmark {
									background-color: $colors-white-main;
								}

								&:checked ~ .accept-checkbox__checkmark {
									background-color: $colors-accent;
								}
							}
						}
					}

					.accept-checkbox__checkmark {
						position: absolute;
						top: 2px;
						left: 0;
						height: 20px;
						width: 20px;
						background-color: #eee;
						transition: background-color 0.25s ease;
						border-radius: 4px;

						&:after {
							content: "";
							position: absolute;
							left: 8px;
							top: 4px;
							width: 5px;
							height: 10px;
							border: solid $colors-white;
							border-width: 0 2px 2px 0;
							transform: rotate(45deg);
							opacity: 0;
							transition: opacity 0.25s ease;
						}
					}
					.accept-checkbox__body {
						font-family: $third-family;
						font-weight: 400;
						font-size: 14px;
						line-height: 100%;
						color: $colors-black;

						@include media-mx(767) {
							text-wrap: wrap;
						}
					}
				}
			}

			&.button {
				display: flex;
				align-items: center;
				justify-content: center;

				button {
					font-family: $font-family;
					font-weight: 400;
					font-size: 14px;
					line-height: 120%;
					color: $colors-white;
					border-radius: 2px;
					transition: all 0.3s ease-in-out;
					width: fit-content;
					padding: 20px;
					background: $colors-accent;
					display: flex;
					gap: rem(10);
					align-items: center;
					justify-content: center;
				}
			}
		}
	}
}
