@import "../../config/functions";
@import "../../config/mixins";

.map {
	padding-block: rem(60);
	background-color: $colors-white-main;
	width: 100%;

	@include media-mx(767) {
		padding-block: rem(36);
	}

	&__container {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: flex-end;
		gap: rem(75);
		height: 100%;
	}

	&__title {
		font-family: $second-family;
		font-weight: 700;
		font-size: 48px;
		line-height: 120%;
		text-align: center;
		color: $colors-black;

		@include media-mx(767) {
			width: 100%;
			text-align: center;
			font-size: 24px;
		}
	}

	&__body {
		height: 650px;
		width: 100%;

		@include media-mx(767) {
			height: 300px;
		}
	}
}
