@import "../../config/functions";
@import "../../config/mixins";

.partners {
	padding-block: rem(60);
	background-color: $colors-white-main;
	width: 100%;

	&__container {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: flex-end;
		gap: rem(75);
		height: 100%;
	}

	&__title {
		font-family: $second-family;
		font-weight: 700;
		font-size: 48px;
		line-height: 120%;
		text-align: center;
		color: $colors-black;
	}

	&__cards {
		width: 100%;
		display: flex;
		align-items: stretch;
		justify-content: stretch;
		flex-wrap: wrap;
		gap: rem(20);
		flex-direction: row;

		&-more {
			position: relative;
			cursor: pointer;
			span {
				font-family: $font-family;
				font-weight: 400;
				font-size: 14px;
				line-height: 100%;
				color: $colors-black;
				padding-left: rem(26);
			}
			&::after {
				content: "";
				width: 12px;
				height: 6px;
				background-image: url(@img/icons/portfolio-arrow.svg);
				background-repeat: no-repeat;
				position: absolute;
				left: 0;
				top: 0;
				bottom: 0;
				margin: auto;
			}
		}
	}

	&__card {
		flex: 1 1 calc((100% / 3) - rem(20));
		display: flex;
		align-items: center;
		justify-content: center;
		height: 165px;
		background: $colors-transparent;
		border-radius: $radius-4;

		&-img {
			img {
				filter: grayscale(100%) brightness(0.6);
				height: 100%;
				max-height: 165px;
				width: 90%;
				object-fit: contain;
			}
		}
	}
}
