@import "../../config/functions";
@import "../../config/mixins";

.benefits {
	padding-block: rem(60) rem(30);
	background-color: $colors-white-main;
	background-image: url(@img/backgrounds/main-benefits.png);
	background-repeat: no-repeat;
	background-size: 8%;
	background-position: left top rem(60);
	width: 100%;

	@include media-mx(767) {
		padding-block: rem(18);
	}

	@include media-mx(767) {
		padding-block: rem(18);
	}

	&__container {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: flex-end;
		gap: rem(75);
		height: 100%;
	}

	&__title {
		font-family: $second-family;
		font-weight: 700;
		font-size: 48px;
		line-height: 120%;
		text-align: center;
		color: $colors-black;

		@include media-mx(767) {
			width: 100%;
			text-align: center;
			font-size: 24px;
		}
	}

	&__items {
		width: 100%;
		display: flex;
		flex-direction: row;
		gap: rem(20);
		align-items: center;
		justify-content: space-between;

		@include media-mx(767) {
			flex-wrap: wrap;
			gap: rem(30);
		}
	}

	&__item {
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		gap: rem(20);
		flex: 1 1 25%;

		@include media-mx(767) {
			flex: 100%;
		}

		&-icon {
			display: flex;
			align-items: center;
			justify-content: center;
			width: 160px;
			aspect-ratio: 1/1;
			background: $colors-white;
			border-radius: 50%;
		}
		&-title {
			font-family: $second-family;
			font-weight: 700;
			font-size: 20px;
			line-height: 120%;
			text-align: center;
			color: $colors-black;
			min-height: 48px;
		}
	}
}
