@font-face {
	font-family: Actay;
	font-display: swap;
	src: url("../fonts/Actay-Regular.woff2") format("woff2");
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: Actay Wide;
	font-display: swap;
	src: url("../fonts/Actay-Wide-Bold.woff2") format("woff2");
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: Gotham;
	font-display: swap;
	src: url("../fonts/Gotham-Bold.woff2") format("woff2");
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: Gotham;
	font-display: swap;
	src: url("../fonts/Gotham-Book.woff2") format("woff2");
	font-weight: 400;
	font-style: normal;
}
